<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ company_name }}">
        <meta name="author" content="Burak Bolat">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="isolate bg-white">
            <!-- Banner -->
            {{ include('_banner.html.twig') }}
            <!-- /Banner -->

            <!-- Logo -->
            {{ include('_logo.html.twig') }}
            <!-- /Logo -->

            <!-- Navbar -->
            {{ include('_navabar.html.twig') }}
            <!-- /Navbar -->

            <main>
                {% block body %}{% endblock %}
            </main>
        </div>

        <footer class="fixed bottom-0 left-0 z-20 p-4 w-full bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{ 'now'|date('Y')}} <a href="https://burakbolat.com/" class="hover:underline">{{ company_name }}™</a>. All Rights Reserved.
            </span>
            <ul class="hidden flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 md:flex sm:mt-0">
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </footer>
    </body>
</html>
